<% include ../partials/header %>

<div class="container">
<h1>Show template</h1>

<p>
    <%= company.name %>
</p>

<p>
    <%= company.balance %>
</p>

<p>
    <%= company.description %>
</p>
<!--<p>-->
<!--    <a class="btn btn-success" href="/companies/<%= company._id %>/comments/new">Add new comment</a>-->
<!--</p>-->

<p>
    <a class="btn btn-success" href="/companies/<%= company._id %>/journal">View journal.</a>
</p>

<p>
    <a class="btn btn-success" href="/companies/<%= company._id %>/accounts/new">Add new account.</a>
</p>

<% company.accounts.forEach(function(account){ %>
    <p>
        <strong>
            <%= account.name %>
        </strong> - <%= account.balance %></p>
    
<% }); %>

<!--<% company.comments.forEach(function(comment){ %>-->
<!--    <p>-->
<!--        <strong>-->
<!--            <%= comment.author %>-->
<!--        </strong> - <%= comment.text %></p>-->
    
<!--<% }); %>-->

</div>






<% include ../partials/footer %>